<div class="w-full rounded-md bg-white p-5 h-screen flex flex-col items-center">
    <div>
        <h5
            class="mb-5 text-xl font-bold tracking-tight text-gray-900 dark:text-white"
        >
            Crear Estructura Geográfica
        </h5>
    </div>
    <form
        (ngSubmit)="onCreate()"
        novalidate
        #f="ngForm"
        class="w-full max-w-xl"
    >
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-1 mb-6 md:mb-0">
                <label
                    class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                    for="countryId"
                >
                    Código de País
                </label>
                <input
                    type="text"
                    id="countryId"
                    name="countryId"
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                    placeholder="BAQECEQXXX"
                    autocomplete="off"
                    required
                    pattern="^[A-Z]{3}$"
                    [(ngModel)]="countryId"
                />
                <div
                    *ngIf="f.submitted && f.controls.code.invalid"
                    class="text-red-500 text-xs italic"
                >
                    Revisa el formato*
                </div>
            </div>
            <div class="w-full md:w-1/2 px-1">
                <label
                    class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                    for="phoneCode"
                >
                    Código Telefónico
                </label>
                <input
                    type="text"
                    id="phoneCode"
                    name="phoneCode"
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                    placeholder="BAQECEQXXX"
                    autocomplete="off"
                    required
                    pattern="^\+\d{1,3}$"
                    [(ngModel)]="phoneCode"
                />
                <div
                    *ngIf="f.submitted && f.controls.code.invalid"
                    class="text-red-500 text-xs italic"
                >
                    Revisa el formato*
                </div>
            </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full px-1">
                <label
                    class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                    for="agencyName"
                >
                    Nombre del País
                </label>
                <input
                    type="text"
                    id="agencyName"
                    name="agencyName"
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                    placeholder="Agencia Iñaquito"
                    autocomplete="off"
                    required
                    [(ngModel)]="name"
                />
                <div
                    *ngIf="f.submitted && f.controls.code.invalid"
                    class="text-red-500 text-xs italic"
                >
                    Campo Obligatorio*
                </div>
            </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="w-full md:w-1/2 px-1 mb-6 md:mb-0">
                <input
                    [(ngModel)]="newElement"
                    placeholder="Nuevo elemento"
                    class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                />
            </div>
            <div class="w-full md:w-1/2 px-1">
                <button
                    type="button"
                    (click)="agregarElemento()"
                    class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
                >
                    Agregar
                </button>
            </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
            <div
                cdkDropList
                class="example-list"
                (cdkDropListDropped)="dropItem($event)"
            >
                <div class="example-box" *ngFor="let item of items" cdkDrag>
                    {{ item }}
                </div>
            </div>
        </div>
        <div class="flex flex-wrap -mx-3 mb-6">
            <div class="flex items-center">
                <button
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mr-3"
                    [disabled]="!f.valid"
                >
                    <div class="flex items-center">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            class="w-6 h-6 mr-1"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
                            />
                        </svg>
                        <span> Crear </span>
                    </div>
                </button>
                <a
                    class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800"
                    href="/admin/geostructure"
                >
                    Regresar
                </a>
            </div>
        </div>
    </form>
</div>
