<div class="flex w-full justify-center items-center h-screen bg-white">
  <div class="w-full max-w-md p-4 justify-center">
    <h4 class="text-center">Crear Compañia</h4>
    <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
      <div class="grid grid-cols-2 gap-4">
        <div>
          <label for="branchId" class="block mb-1">Sucursal:</label>
          <select id="branchId" name="branchId" class="w-full border-gray-300 border p-2 rounded h-10"
            [(ngModel)]="branchId" required>
            <option value="">Seleccione Sucursal</option>
            <option value="PICHIXXBQ1002">Banquito Norte II</option>
            <option value="PICHIXXBQ1003">Banquito Norte KENEDY</option>
            <option value="PICHIXXBQ1004">Banquito Comite del Pueblo</option>
            <option value="PICHIXXBQ1005">Banquito Centro</option>
            <option value="GUAYXXBQ1001">Banquito Olmedo</option>
            <option value="GUAYXXBQ1002">Banquito Samborondon</option>
            <option value="PICHIXXBQ1006">Banquito Sangolqui</option>
            <option value="CUENXXBQ1001">Banquito Bellavista</option>
            <option value="BOLIXXBQ1001">Banquito Guaranda</option>
            <option value="SAELXXBQ1001">Banquito Salinas</option>
          </select>
        </div>
        <div>
          <label for="locationId" class="block mb-1">Branch:</label>
          <select id="locationId" name="locationId" class="w-full border-gray-300 border p-2 rounded h-10"
            [(ngModel)]="locationId" required>
            <option value="">Seleccione Localización: </option>
            <option value="64bb7c52f4ad76655495e695">BOLIVAR</option>
            <option value="64bb7c86f4ad76655495e696">AZUAY</option>
            <option value="64bc1f1eea87d477becbd134">CAÑAR</option>
            <option value="64bc1f3aea87d477becbd135">CARCHI</option>
            <option value="64bc1f68ea87d477becbd136">COTOPAXI</option>
            <option value="64bc1f70ea87d477becbd137">CHIMBORAZO</option>
            <option value="64bc1fb2ea87d477becbd138">IMBABURA</option>
            <option value="64bc1fc3ea87d477becbd139">EL ORO</option>
            <option value="64bc1fceea87d477becbd13a">ESMERALDAS</option>
            <option value="64bc1fdaea87d477becbd13b">GUAYAS</option>
            <option value="64bc2004ea87d477becbd13c">LOJA</option>
            <option value="64bc200eea87d477becbd13d">LOS RIOS</option>
            <option value="64bc201fea87d477becbd13e">MANABI</option>
            <option value="64bc203dea87d477becbd13f">MORONA SANTIAGO</option>
            <option value="64bc2068ea87d477becbd140">NAPO</option>
            <option value="64bc206eea87d477becbd141">PASTAZA</option>
            <option value="64bc2081ea87d477becbd142">PICHINCHA</option>
            <option value="64bc208bea87d477becbd143">TUNGURAHUA</option>
            <option value="64bc20b4ea87d477becbd144">ZAMORA CHINCHIPE</option>
            <option value="64bc215bea87d477becbd145">GALAPAGOS</option>
            <option value="64bc216fea87d477becbd146">SUCUMBIOS</option>
            <option value="64bc2177ea87d477becbd147">ORELLANA</option>
            <option value="64bc21e7ea87d477becbd148">STO DOMINGO DE LOS TSACHILAS</option>
            <option value="64bc21f1ea87d477becbd149">SANTA ELENA</option>
          </select>
          
        </div>
        <div>
          <label for="groupName" class="block mb-1">Nombre del grupo:</label>
          <input type="text" id="groupName" name="groupName" class="w-full border-gray-300 border p-2 rounded h-10"
            placeholder="Ingrese el nombre del grupo" autocomplete="off" required [(ngModel)]="groupName">
          <div *ngIf="f.submitted && f.controls.groupName.invalid" class="text-red-500 mt-1">
            Nombre del grupo es requerido.
          </div>
        </div>
        <div>
          <label for="emailAddress" class="block mb-1">Correo electrónico:</label>
          <input type="email" id="emailAddress" name="emailAddress"
            class="w-full border-gray-300 border p-2 rounded h-10" placeholder="Ingrese el correo electrónico"
            autocomplete="off" required [(ngModel)]="emailAddress">
          <div *ngIf="f.submitted && f.controls.emailAddress.invalid" class="text-red-500 mt-1">
            Correo electrónico es requerido y debe ser una dirección de correo válida.
          </div>
        </div>
        <div>
          <label for="phoneNumber" class="block mb-1">Número de teléfono:</label>
          <input type="text" id="phoneNumber" name="phoneNumber" class="w-full border-gray-300 border p-2 rounded h-10"
            placeholder="Ingrese el número de teléfono" autocomplete="off" required [(ngModel)]="phoneNumber">
          <div *ngIf="f.submitted && f.controls.phoneNumber.invalid" class="text-red-500 mt-1">
            Número de teléfono es requerido.
          </div>
        </div>
        <div>
          <label for="line1" class="block mb-1">Dirección línea 1:</label>
          <input type="text" id="line1" name="line1" class="w-full border-gray-300 border p-2 rounded h-10"
            placeholder="Ingrese la dirección línea 1" autocomplete="off" required [(ngModel)]="line1">
          <div *ngIf="f.submitted && f.controls.line1.invalid" class="text-red-500 mt-1">
            Dirección línea 1 es requerida.
          </div>
        </div>
        <div>
          <label for="line2" class="block mb-1">Dirección línea 2:</label>
          <input type="text" id="line2" name="line2" class="w-full border-gray-300 border p-2 rounded h-10"
            placeholder="Ingrese la dirección línea 2" autocomplete="off" [(ngModel)]="line2">
        </div>
        <div>
          <label for="latitude" class="block mb-1">Latitud:</label>
          <input type="text" id="latitude" name="latitude" class="w-full border-gray-300 border p-2 rounded h-10"
            placeholder="Ingrese la latitud" autocomplete="off" required [(ngModel)]="latitude">
          <div *ngIf="f.submitted && f.controls.latitude.invalid" class="text-red-500 mt-1">
            Latitud es requerida.
          </div>
        </div>
        <div>
          <label for="longitude" class="block mb-1">Longitud:</label>
          <input type="text" id="longitude" name="longitude" class="w-full border-gray-300 border p-2 rounded h-10"
            placeholder="Ingrese la longitud" autocomplete="off" required [(ngModel)]="longitude">
          <div *ngIf="f.submitted && f.controls.longitude.invalid" class="text-red-500 mt-1">
            Longitud es requerida.
          </div>
        </div>
        <div>
          <label for="comments" class="block mb-1">Comentarios:</label>
          <textarea id="comments" name="comments" class="w-full border-gray-300 border p-2 rounded" rows="3"
            placeholder="Ingrese los comentarios" [(ngModel)]="comments"></textarea>
        </div>
      </div>
      <button class="bg-green-500 text-white w-full py-2 rounded mt-3" [disabled]="!f.valid">
        <i class="fas fa-plus-circle"></i> Crear
      </button>
      <button class="bg-blue-500 text-white w-full py-2 rounded mt-3" routerLink="../">
        <i class="fas fa-arrow-alt-circle-left"></i> Volver
      </button>
    </form>
    <div *ngIf="isSaved !== null" class="text-center mt-3">
      <p [ngClass]="{'text-green-500': isSaved, 'text-red-500': !isSaved}">
        {{ isSaved ? 'Usuario guardado con éxito' : 'Error al guardar el usuario' }}
      </p>
    </div>
  </div>
</div>
