<div class="w-full rounded-md bg-white p-5">
    <div>
        <div class="flex flex-wrap w-full justify-center xl:mt-20 2xl:mt-20">
            <div
                class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/4 m-2 hover:animate-spin"
            >
                <div
                    (click)="navigateToPages('create')"
                    class="cursor-pointer block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 h-full w-full"
                >
                    <div class="flex">
                        <div class="mr-3">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
                                <path
                                  d="M18 3H6a3 3 0 0 0-3 3v12a3 3 0 0 0 3 3h12a3 3 0 0 0 3-3V6a3 3 0 0 0-3-3zM6 18V6h12v12H6z"
                                />
                                <path
                                  d="M9 8h6v2H9zm0 4h6v2H9z"
                                />
                              </svg>
                        </div>
                        <div>
                            <h5
                                class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white"
                            >
                                Crear Cuenta Juridica
                            </h5>
                            <p
                                class="mb-2 text-base tracking-tight text-gray-900 dark:text-white"
                            >
                                Vincula un cliente juridico con una cuenta.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div
            class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 xl:w-1/4 m-2 hover:animate-spin"
        >
            <div
                (click)="navigateToPages('detail')"
                class="cursor-pointer block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700 h-full w-full"
            >
                <div class="flex">
                    <div class="mr-3">
                        <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round">
                        <circle cx="11" cy="11" r="8" />
                        <line x1="21" y1="21" x2="16.65" y2="16.65" />
                      </svg>
                    </div>
                    <div>
                        <h5
                            class="mb-2 text-xl font-bold tracking-tight text-gray-900 dark:text-white"
                        >
                            Buscar Cuenta Juridica
                        </h5>
                        <p
                            class="mb-2 text-base tracking-tight text-gray-900 dark:text-white"
                        >
                            Permite buscar la cuenta para actualizar o eliminar 
                        </p>
                    </div>
                </div>
            </div>
</div>
       
        </div>


    </div>