<div class="w-full rounded-md bg-white">
    <div class="p-6 justify-between items-center flex flex-row w-full">
        <div>
            <h2 class="font-bold text-xl">Cuentas Juridicas</h2>
            <div class="flex flex-row gap-2">
                <a routerLink="/admin/gestion-cuentas" class="text-primary">Cuentas juridicas</a>
                <span class="text-gray-400">/</span>
                <span class="text-gray-400">Crear</span>
            </div>
        </div>
        <div class="flex flex-row items-center gap-4">
            <button mat-flat-button color="primary" (click)="createAccountForCompany();">Agregar</button>
        </div>
    </div>
    <div class="border-b"></div>
    <main class="flex flex-col">
        <div class="flex flex-row gap-3 w-full p-6">
            <mat-form-field class="w-full sm:w-1/2 input-search">
                <mat-label>Busca la empresa para crear una cuenta</mat-label>
                <span matPrefix>
                    <mat-icon class="icon-size-4" svgIcon="heroicons_outline:search"></mat-icon>
                </span>
                <input matInput [formControl]="searchInputControl" type="text" placeholder="Buscar empresa">
            </mat-form-field>
            <div class="w-full sm:w-1/2 flex flex-row items-center flex-wrap" *ngIf="company.uniqueKey !='';else emptyCompany">
                <div class="font-bold text-lg  flex flex-col w-1/2 text-center">Empresa <span class="text-md font-medium text-gray-500">{{company.groupName}}</span></div>
                <div class="font-bold text-lg  flex flex-col w-1/2 text-center">Email <span class="text-md font-medium text-gray-500">{{company.emailAddress }}</span></div>
                <div class="font-bold text-lg  flex flex-col w-1/2 text-center">Direccion <span class="text-md font-medium text-gray-500">{{company.line1}} {{company.line2 != null && company.line2 !='' ? "y "+company.line2 : ''}}</span></div>
                <div class="font-bold text-lg  flex flex-col w-1/2 text-center">Telefono <span class="text-md font-medium text-gray-500">{{company.phoneNumber}}</span></div>
                <button mat-flat-button color="primary" class="place-content-center w-full mt-4" (click)="enableOtherFieldsToCreateAccount();">Usar empresa para crear cuenta</button>
            </div>
            <ng-template #emptyCompany>
                <p class="text-gray-500 text-lg font-semibold text-center align-middle">No se han encontrado empresas con el nombre proporcionado. Inicia una nueva búsqueda</p>
            </ng-template>
        </div>
        <div class="border-b"></div>
        <div class="flex flex-row gap-3 w-full p-6" *ngIf="isEnabledMoreFields">
            <form class="w-1/2 flex flex-col gap-5" [formGroup]="accountForm" *ngIf="accountForm">
                <mat-form-field class="w-1/2" >
                    <mat-label>Seleccione el tipo de cuenta</mat-label>
                    <mat-select formControlName="accountType">
                      <mat-option value="AHO">
                        Cuenta de Ahorros
                      </mat-option>
                      <mat-option value="CO">
                        Cuenta Corriente
                      </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="w-1/2">
                    <mat-label>Ingrese el porcentaje de interés.Max(5%)</mat-label>
                    <input matInput type="number" step="0.01" min="0" max="5"  formControlName="interestRate">
                </mat-form-field>
            </form>
        </div>
    </main>
</div>