<div class="container mx-auto mt-5 bg-white w-full">
    <div class="max-w-md mx-auto">
      <h4 class="text-center text-lg font-bold">Crear Telefonos</h4>
      <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
        <!-- Agregar campo oculto isDefault siempre con valor true -->
        
  
        <div class="mb-3">
          <label for="phoneType" class="block text-sm font-medium text-gray-700">Tipo Telefono:</label>
          <select id="phoneType" name="phoneType" class="form-select mt-1 block w-full" [(ngModel)]="cliente.phoneType">
            <option value="OFI">Oficina</option>
            <option value="HOM">Casa</option>
        
          </select>
        </div>
        
        <div class="mb-3">
          <label for="phoneNumber" class="block text-sm font-medium text-gray-700">Numero Telefono:</label>
          <input type="text" class="form-input mt-1 block w-full" id="phoneNumber" name="phoneNumber" placeholder="Ingrese el numero de telefono" autocomplete="off" [(ngModel)]="cliente.phoneNumber">
        </div>
        <input type="hidden" name="isDefault" [(ngModel)]="cliente.isDefault" value="true">
        <button class="bg-green-500 text-white font-bold py-2 px-4 w-full mb-3" [disabled]="!f.valid">
          <i class="far fa-edit"></i> Actualizar
        </button>
        <button class="bg-blue-500 text-white font-bold py-2 px-4 w-full" routerLink="../../">
          <i class="fas fa-arrow-alt-circle-left"></i> Regresar
        </button>
      </form>
    </div>
  </div>
  