<div class="container mx-auto mt-5 bg-white w-full">
  <div class="max-w-md mx-auto ">
    <h4 class="text-center text-lg font-bold">Actualizar Cliente</h4>
    <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
      <div class="mb-3">
        <label for="name" class="block text-sm font-medium text-gray-700">Nombre:</label>
        <input type="text" class="form-input mt-1 block w-full" id="name" name="name" placeholder="Enter product name" autocomplete="off" required [(ngModel)]="cliente.name">
      </div>
      <div class="mb-3">
        <label for="lastname" class="block text-sm font-medium text-gray-700">Apellido:</label>
        <input type="text" class="form-input mt-1 block w-full" id="lastname" name="lastname" placeholder="Enter lastname" autocomplete="off" required [(ngModel)]="cliente.lastname">
      </div>
      <div class="mb-3">
        <label for="genero" class="block text-sm font-medium text-gray-700">Género:</label>
        <select id="genero" name="genero" class="form-select mt-1 block w-full" [(ngModel)]="cliente.genero">
          <option value="masculino">Masculino</option>
          <option value="femenino">Femenino</option>
        </select>
      </div>
      <div class="mb-3">
        <label for="direction" class="block text-sm font-medium text-gray-700">Direccion:</label>
        <input type="text" class="form-input mt-1 block w-full" id="direction" name="direction" placeholder="Enter direction" autocomplete="off" required [(ngModel)]="cliente.direction">
      </div>
      <div class="mb-3">
        <label for="estado" class="block text-sm font-medium text-gray-700">Estado:</label>
        <select id="estado" name="estado" class="form-select mt-1 block w-full" [(ngModel)]="cliente.estado">
          <option value="activo">Activo</option>
          <option value="inactivo">Inactivo</option>
        </select>
      </div>
      <button class="bg-green-500 text-white font-bold py-2 px-4 w-full mb-3" [disabled]="!f.valid"  >
        <i class="far fa-edit"></i> Actualizar
      </button>
      <button class="bg-blue-500 text-white font-bold py-2 px-4 w-full" routerLink="../../">
        <i class="fas fa-arrow-alt-circle-left"></i> Regresar
      </button>
    </form>
  </div>
</div>
