<div class="flex w-full justify-center items-center h-screen bg-white">
    <div class="w-full max-w-md p-4 justify-center">
      <h4 class="text-center">Crear Cliente</h4>
      <form (ngSubmit)="onCreate()" novalidate #f="ngForm">
        <div class="grid grid-cols-2 gap-4">
          <div>
            <label for="tipoDocumento" class="block mb-1">Tipo de documento:</label>
            <select id="tipoDocumento" name="tipoDocumento" class="w-full border-gray-300 border p-2 rounded h-10"
              [(ngModel)]="tipoDocumento" required>
              <option value="cedula">Cédula</option>
              <option value="pasaporte">Pasaporte</option>
            </select>
            <div *ngIf="f.submitted && f.controls.tipoDocumento.invalid" class="text-red-500 mt-1">
              Tipo de documento es requerido.
            </div>
          </div>
          <div>
            <label for="numeroDocumento" class="block mb-1">Número de documento:</label>
            <input type="text" id="numeroDocumento" name="numeroDocumento"
              class="w-full border-gray-300 border p-2 rounded h-10" placeholder="Ingrese el número de documento"
              autocomplete="off" required pattern="[0-9]{1,10}" [(ngModel)]="numeroDocumento">
            <div *ngIf="f.submitted && f.controls.numeroDocumento.invalid" class="text-red-500 mt-1">
              Número de documento es requerido y debe contener solo números (máximo 10 dígitos).
            </div>
          </div>
          <div>
            <label for="name" class="block mb-1">Nombre:</label>
            <input type="text" id="name" name="name" class="w-full border-gray-300 border p-2 rounded h-10"
              placeholder="Ingrese el nombre" autocomplete="off" required [(ngModel)]="name">
            <div *ngIf="f.submitted && f.controls.name.invalid" class="text-red-500 mt-1">
              Nombre es requerido.
            </div>
          </div>
          <div>
            <label for="lastname" class="block mb-1">Apellido:</label>
            <input type="text" id="lastname" name="lastname" class="w-full border-gray-300 border p-2 rounded h-10"
              placeholder="Ingrese el apellido" autocomplete="off" required [(ngModel)]="lastname">
            <div *ngIf="f.submitted && f.controls.lastname.invalid" class="text-red-500 mt-1">
              Apellido es requerido.
            </div>
          </div>
          <div>
            <label for="genero" class="block mb-1">Género:</label>
            <select id="genero" name="genero" class="w-full border-gray-300 border p-2 rounded h-10" [(ngModel)]="genero"
              required>
              <option value="masculino">Masculino</option>
              <option value="femenino">Femenino</option>
            </select>
            <div *ngIf="f.submitted && f.controls.genero.invalid" class="text-red-500 mt-1">
              Género es requerido.
            </div>
          </div>
          <div>
            <label for="fechaNacimiento" class="block mb-1">Fecha de nacimiento:</label>
            <input type="date" id="fechaNacimiento" name="fechaNacimiento"
              class="w-full border-gray-300 border p-2 rounded h-10" placeholder="Seleccione la fecha de nacimiento" required
              [(ngModel)]="fechaNacimiento">
            <div *ngIf="f.submitted && f.controls.fechaNacimiento.invalid" class="text-red-500 mt-1">
              Fecha de nacimiento es requerida.
            </div>
          </div>
          <div>
            <label for="direction" class="block mb-1">Dirección:</label>
            <input type="text" id="direction" name="direction" class="w-full border-gray-300 border p-2 rounded h-10"
              placeholder="Ingrese la dirección" autocomplete="off" required [(ngModel)]="direction">
            <div *ngIf="f.submitted && f.controls.direction.invalid" class="text-red-500 mt-1">
              Dirección es requerida.
            </div>
          </div>
          <div>
            <label for="rol" class="block mb-1">Rol:</label>
            <select id="rol" name="rol" class="w-full border-gray-300 border p-2 rounded h-10" [(ngModel)]="rol" required>
              <option value="beneficiario">Beneficiario</option>
              <option value="dueño">Dueño</option>
            </select>
            <div *ngIf="f.submitted && f.controls.rol.invalid" class="text-red-500 mt-1">
              Rol es requerido.
            </div>
          </div>
          <div>
            <label for="estado" class="block mb-1">Estado:</label>
            <select id="estado" name="estado" class="w-full border-gray-300 border p-2 rounded h-10" [(ngModel)]="estado"
              required>
              <option value="activo">Activo</option>
              <option value="inactivo">Inactivo</option>
            </select>
            <div *ngIf="f.submitted && f.controls.estado.invalid" class="text-red-500 mt-1">
              Estado es requerido.
            </div>
          </div>
        </div>
        <button class="bg-green-500 text-white w-full py-2 rounded mt-3" [disabled]="!f.valid">
          <i class="fas fa-plus-circle"></i> Crear
        </button>
        <button class="bg-blue-500 text-white w-full py-2 rounded mt-3" routerLink="../">
          <i class="fas fa-arrow-alt-circle-left"></i> Volver
        </button>
      </form>
      <div *ngIf="isSaved !== null" class="text-center mt-3">
        <p [ngClass]="{'text-green-500': isSaved, 'text-red-500': !isSaved}">
          {{ isSaved ? 'Usuario guardado con éxito' : 'Error al guardar el usuario' }}
        </p>
      </div>
    </div>
  </div>
  